*{

}
/* Apply flexbox to the body to center the #form div */
main {
     /* Ensure the body takes the full height of the viewport */
    margin: 0;    /* Remove default margin */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;  
    text-decoration: none;   /* Center vertically */
}
.heading{
    color:#0D6EFD;
   margin: 10px;
}

form {
    border: 2px solid #0D6EFD;
    border-radius: 5%;
       /* Align form content vertically in the center (inside the form) */
    padding: 30px;
    margin: 30px;
    height: 70%;
    width: 65%;        
}

.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
  }
  
  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }
  
  .progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
  }
  
  .progress-step-active {
    background-color: var(--primary-color);
    color: white;
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #0D6EFD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .navbar{
    color:black;
  }
.input-group{
    padding: 10px;
    margin:8px;
    
}
.input-group input{
    padding:10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 100%;
}
.Nextbtn{
    display: inline-block;
       border-radius:5%;
      background-color: #0D6EFD;
width: 25%;
border: 2px solid #0D6EFD;
padding: 10px;
height: 40%;
    margin-left:10px;
    cursor: pointer;
     }
   
.Nextbtn a{
    color:white;
    font-size: 17px;
    display: flex;
    justify-content: center;

}
.input-group label{
    font-weight: bold;
}
.Nextbtn:hover{
    cursor: pointer;
    font-weight: 500;
    border: 2px solid white;
}

.form-step{
    display: none;
    transform-origin: top;
    animation: animate 0.5s; 
}

.form-step-active{
    display:block;
}
.billing{
    display: none;
    transform-origin: top;
    animation: animate 0.5s; 
}